<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Responsible for delivering bad or good news for the development team. &#xd;
Code is broken! Functions include code compilation, run suite of unit tests and code analysis.&#xd;
On success, the code changes are merged to the stable development branch, the war file is packaged and artifacts uploaded to a git repository.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>