<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Updates master after a successful run</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/knarine/java-beach.git</url>
        <credentialsId>aba2f309-0994-49aa-a44c-6b9d00630b3d</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.30">
      <project>developer commit</project>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy for manual acceptance testing</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.git.GitPublisher plugin="git@2.2.1">
      <configVersion>2</configVersion>
      <pushMerge>true</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <tagsToPush/>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>origin</targetRepoName>
          <branchName>master</branchName>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
      <notesToPush/>
    </hudson.plugins.git.GitPublisher>
    <hudson.plugins.deploy.DeployPublisher plugin="deploy@1.9">
      <adapter class="hudson.plugins.deploy.tomcat.Tomcat7xAdapter">
        <userName>manager</userName>
        <passwordScrambled>cEBzc3cwcmQ=</passwordScrambled>
        <url>http://208.94.38.210:8080/</url>
      </adapter>
      <contextPath>/acceptance-test</contextPath>
      <war>target/Spring4MVCHelloWorld.war</war>
      <onFailure>false</onFailure>
    </hudson.plugins.deploy.DeployPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.8">
      <recipients>mjoseph@medullan.com, kalisha@medullan.com, sdeonarine@medullan.com, mchickoree@medullan.com, rnorris@medullan.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>